// .in{
//     width: 80%; padding: 10px; margin-top: 20px;
// }
.bi-person{
    right: 0%; top:0px; bottom: 0; background:#DC3545; padding: 0 5px; color: white;
}
.bi-envelope{
    right: 0%; top:0px; bottom: 0; background:#DC3545; padding: 0 5px; color: white;
}
.bi-file-lock{
    right: 0%;  top:0; bottom: 0; background:#DC3545;  padding:0 5px ; color: white;
}